@import "animations.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #880E4F;
    --surface-color: #FFFFFF;
    --text-color: #000000;
    --link-color: #0069C0;
}

html {
    height: 100%;
    background-color: var(--surface-color);
}

body {
    height: 100%;
    animation: fadeIn ease-in 1s;
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, p, text {
    margin: 0;
    -webkit-text-fill-color: var(--text-color);
}

a {
    font-weight: bold;
    text-decoration: underline;
    -webkit-text-fill-color: var(--link-color);
}

header {
    background-color: var(--primary-color);
    box-shadow: 0 12px 12px -1px rgba(0, 0, 0, 0.4);
}

#header-icons li img {
    margin-bottom: 16px;
}

#avatarImage {
    margin-left: 10%;
    margin-top: 16px;
    border-radius: 50%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    font-family: 'Roboto Thin', sans-serif;
    -webkit-text-fill-color: #FFFFFF;
    font-size: 10rem;
}

section {
    margin-left: 20%;
    margin-right: 20%;
}

section hr {
    border-color: var(--primary-color);
    border-width: 2px;
    margin: 0;
    margin-bottom: 32px;
}

.section-header {

}

.section-header > * {
    display: inline;
}

.section-header h1 {
    font-family: 'Roboto Light', sans-serif;
    -webkit-text-fill-color: var(--primary-color);
}

.section-header img {
    position: relative;
    top: -15px
}

.section-content, .section-content > * {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
}

.section-content li {
    margin-bottom: 1.25rem;
}

.centered-horizontal {
    display: inline-list-item;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.fullscreen {
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontal {
    overflow: hidden;
}

ul.horizontal li {
    margin: 0 32px;
    display: inline;
}

.collapsible {
    background-color: #bc477b;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2em;
    border-radius: 8px;
}

.active, .collapsible:hover {
    background-color: #560027;
}

.collapsible:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {

}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-out;
    background-color: white;
    border-radius: 8px;
    margin: 0 4px;
}

.content p {
    font-size: 2em;
    line-height: 2em;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
}