
html {
    height: 100%;
    background-color: #ffffff;
}

body {
    height: 100%;
    animation: fadeIn ease-in 1s;
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
}

h1, h2, h3, h4, h5, p, text {
    margin: 0 16px;
    -webkit-text-fill-color: #000000;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar {
    background-color: #880e4f;
    box-shadow: 0 12px 12px -1px rgba(0, 0, 0, 0.4);
}

#avatarImage {
    border-radius: 50%;
}

#title {
    font-family: 'Roboto Thin', sans-serif;
    -webkit-text-fill-color: #ffffff;
    font-size: 10em;
}

#cv {
    font-family: 'Roboto Thin', sans-serif;
    -webkit-text-fill-color: #ffffff;
    font-size: 5em;
}

.centered-horizontal {
    display: inline-list-item;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.fullscreen {
    height: 100%;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontal li {
    margin: 0 32px;
    display: inline;
}

.collapsible {
    background-color: #bc477b;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2em;
    border-radius: 8px;
}

.active, .collapsible:hover {
    background-color: #560027;
}

.collapsible:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {

}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-out;
    background-color: white;
    border-radius: 8px;
    margin: 0 4px;
}

.content p {
    font-size: 2em;
    line-height: 2em;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
}